pipeline/FreshAAS.json
{
	"name": "FreshAAS",
	"properties": {
		"activities": [
			{
				"name": "AASRefresh",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://chinaeast2.asazure.chinacloudapi.cn/servers/bjaastest/models/TabularProject221124/refreshes",
						"type": "Expression"
					},
					"method": "POST",
					"body": "{ \n\n    \"Type\": \"Full\", \n\n    \"CommitMode\": \"transactional\", \n\n    \"MaxParallelism\":10, \n\n    \"RetryCount\": 2, \n\n    }",
					"turnOffAsync": true,
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.chinacloudapi.cn"
					}
				}
			},
			{
				"name": "getRefreshStatus",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://chinaeast2.asazure.chinacloudapi.cn/servers/bjaastest/models/TabularProject221124/refreshes/',activity('AASRefresh').output.operationId)",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.chinacloudapi.cn"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getRefreshStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RefreshStatus",
					"value": {
						"value": "@activity('getRefreshStatus').output.status",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "AASRefresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 60
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('RefreshStatus'), 'failed')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "RefreshFailed",
								"errorCode": "RefreshFailed"
							}
						}
					]
				}
			}
		],
		"variables": {
			"refreshId": {
				"type": "String"
			},
			"status": {
				"type": "String"
			},
			"startTime": {
				"type": "String"
			},
			"RefreshStatus": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-12-04T07:27:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}